$primary-color:#fe538d;
$secondry-color:#dbd03c;
$text-color:#000;
$text-white:rgb(255, 255, 255);

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 
body{
      font-family: "Rubik", sans-serif;

}
h1{
    font-size: 4.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.2em;
}
header{
    nav{
        .nav-link{
            text-transform: uppercase;
            color: $text-color;
            font-weight: 500;
            margin-left: 20px;
            font-size: 1em;
        }
        .logo{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: #12b581;
            }
        }
    }
}
.section-1{
    .hero{
background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('../images/hero.jpg');
        min-height: 600px;
        color: $text-white;
        span{
            color: $secondry-color;
            font-size: 1.5em;
            font-weight: 500;
        }
        .btn-primary{
            background-color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px 15px;
            font-size: 1em;
            font-weight: 500;
            text-transform: uppercase;
            &:hover{
                background-color: $secondry-color;
                border: 1px solid $secondry-color;
            }
        }
         .btn-secondary{
            background-color: $secondry-color;
            border: 1px solid $secondry-color;
            padding: 10px 15px;
            font-size: 1em;
            font-weight: 500;
            text-transform: uppercase;
            &:hover{
                background-color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }
}